/*------------------------- Defaults -------------------------*/
html{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
body{
	background: url('../i/bg.jpg') no-repeat fixed;
}
h1, h2, h3 , h4, h5, h6, span{
	font-family: 'Raleway', sans-serif;
	color: #076BB6;
}
h4{
	font-weight: 300;
}
label{
    width: 75px;
    display:block;
    float:left;
}
ul{
	padding: 0;
	margin: 90px auto;
	max-width: 960px;
	overflow: hidden;
}
ul li{
	position: relative;
	background: #eee;
	height: 510px;
	overflow: hidden;
	float: left;
	list-style: none;
	width: 22.5%;
	margin: 0 0 2% 2%;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.4)
}
ul li > *{
	margin: 0 10px;
}
.nomarg{
	margin: 0;
}
ul li p{
	display: block;
	height: 150px;
	overflow-y: scroll;
}
ul li .logo{
	background: rgba(255,255,255,.3);
	position: absolute;
	top: 0;
}
ul li .big{
	width: 100%;
	border-bottom: dashed 2px #076BB6;
	margin: 0 0 20px 0;
}
ul li address{
	background: #eee;
	position: absolute;
	color: #666;
	top: 470px;
}
button, input[type="button"], input[type="submit"], input[type="reset"]{
	text-transform: capitalize;
	width: 10%;
	height: 42px;
	font-size: 1.375em;
	color: white;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #076BB6;
	border: 0;
	border-bottom: 2px solid #79d;
	cursor: pointer;
	box-shadow: inset 0 -2px #79d;
	margin-left: -10px;
}
button:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active{
	top: 1px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/*------------------------- Navigation -------------------------*/
nav{
	top: 0;
	position: fixed;
	height: 75px;
	width: 100%;
	background: #fff;
	z-index: 2;
	box-shadow: 0 5px 10px rgba(0,0,0,0.4);
}
nav img{
	float: left;
	margin: 1.25% 0 0 50px;
}
input{
	width: 25%;
	padding: 10px;
	margin: 15px 0 0 2%;
	border-radius: 5px;
	border: #ccc solid 2px;
	border-right: none;
	background: #fff;
	clear: both;
}
input:focus{
	outline: 0;
	border: #076BB6 solid 2px;
}
/*------------------------- CTA -------------------------*/
#cta{
	width: 50%;
	padding: 50px;
	margin: 50px auto;
	text-align: center;
	box-shadow: 0 5px 10px rgba(0,0,0,0.4);
	border-radius: 15px;
	background: #fff;
}
#cta > *:not(h1){
	margin-top: 50px;
}
#cta h1{
	font-size: 3em;
	margin: 0;
}
#cta img{
	margin-top: 10px;
}
#cta input{
	width: 45%;
}
#cta button, input[type="button"], input[type="submit"], input[type="reset"]{
	width: 20%;
}